<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-5">Stupid Coaching</h1>

      <div class="card mb-5">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="lead">
              <% if @question.blank? %>
              &#128513;
              <% else @question %>
              <% end %>
            </p>
            <footer class="blockquote-footer">You</footer>
          </blockquote>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0 coach">
            <p class="lead"><%@answer%></p>
            <footer class="blockquote-footer">Your coach</footer>
          </blockquote>
        </div>
      </div>

      <div class="mt-5 text-center">
        <%= link_to "Ask a new question", ask_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
